.App {
  text-align: center;
}

.main-div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.main-div>* {
  padding: 10px;
}

#select-country {
  width: 16rem;
}

#select-state {
  width: 8rem;
}

.display-message{
  font-weight: 600;
  margin: 2rem;
}
.display-message .city{
  font-size: 1.3rem;
}
.display-message .state-country{
  opacity: 0.6;
}